.countrycard{
    /* width: 60vw; */
}

element.style {
    /* margin-left: 20vw; */
    margin-right: 20vw;
    background-color: rgb(52, 55, 59);
}

.countrydiv{
    padding-top: 20vh;
}
@media only screen and (max-width: 1070px) {
    .countrycard{
        width: 20rem;
        margin-left: 10vw!important;
    }

    .countrydiv{
        /* margin-left: initial; */
    }

    .batchclose{
        font-size: 12px;
        /* padding-right: -5vw; */
        margin-left: 65vw;
    }

    .increment{
        font-size: 12px!important;
    }
}

